{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <title>Центральная библиотека</title>
        <link rel="stylesheet" href="{% static 'css/book_form.css' %}">
    </head>

    <body>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'catalog' %}">Каталог</a>
            {% if user.is_authenticated %}
                <a href="{% url 'add_book' %}">Добавить книгу</a>
                <a href="{% url 'profile' %}">Профиль</a>
                <a href="{% url 'logout' %}">Выход из системы</a>
            {% else %}
                <a href="{% url 'login' %}">Авторизоваться</a>
            {% endif %}
        </nav>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить изменения</button>
        </form>
        <footer>
            <div class="footer-content">
                <p>&copy; 2024 Центральная библиотека. Все права защищены.</p>
            </div>
        </footer>
    </body>
</html>
