{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <title>Центральная библиотека</title>
        <link rel="stylesheet" href="{% static 'css/book_view.css' %}">
    </head>

    <body>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'catalog' %}">Каталог</a>
            {% if user.is_authenticated %}
                <a href="{% url 'add_book' %}">Добвить книгу</a>
                <a href="{% url 'profile' %}">Профиль</a>
                <a href="{% url 'logout' %}">Выход из системы</a>
            {% else %}
                <a href="{% url 'login' %}">Авторизоваться</a>
            {% endif %}
        </nav>
    <h1>Все книги</h1>
    <div class="books-container">
        {% if page_obj %}
            {% for book in page_obj %}
                <div class="book-item">
                    <h2><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></h2>
                    <p><strong>Автор:</strong> {{ book.author }}</p>
                    {% if book.cover_image %}
                        <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover">
                    {% endif %}
                    <p><strong>Описание:</strong> {{ book.description }}</p>
                    <p><strong>Дата публикации:</strong> {{ book.publication_date }}</p>
                    <p><strong>Жанры:</strong> 
                        {% for genre in book.genres.all %}
                            {{ genre.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <p>На данный момент в наличии нет книг.</p>
        {% endif %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">Начало</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующий</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Конец</a>
            {% endif %}
        </span>
    </div>
    
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Центральная библиотека. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>
